/* ========== PRELOADER ========== */

.preloader {
    background: #000;
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.loader {
    position: relative;
    width: 20rem;
    height: 20rem;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader__circle {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 2rem solid transparent;
    border-left-color: #860d0d;
    animation: load 0.9s ease-in-out alternate infinite;
}

.loader__text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background: #000;
    text-align: center;
    color: #736f6f;
    font-weight: bold;
    animation: colorText 0.45s linear alternate infinite;
}

.none {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

@-moz-keyframes load {
    0% {
        transform: rotate(-35deg);
    }

    18% {
        border-width: 18px;
    }

    50% {
        border-width: 4px;
    }

    82% {
        border-width: 18px;
    }

    100% {
        transform: rotate(215deg);
    }
}

@-webkit-keyframes load {
    0% {
        transform: rotate(-35deg);
    }

    18% {
        border-width: 18px;
    }

    50% {
        border-width: 4px;
    }

    82% {
        border-width: 18px;
    }

    100% {
        transform: rotate(215deg);
    }
}

@-o-keyframes load {
    0% {
        transform: rotate(-35deg);
    }

    18% {
        border-width: 18px;
    }

    50% {
        border-width: 4px;
    }

    82% {
        border-width: 18px;
    }

    100% {
        transform: rotate(215deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(-35deg);
    }

    18% {
        border-width: 18px;
    }

    50% {
        border-width: 4px;
    }

    82% {
        border-width: 18px;
    }

    100% {
        transform: rotate(215deg);
    }
}

@-moz-keyframes colorText {
    0% {
        color: #736f6f;
    }

    100% {
        color: #860d0d;
    }
}

@-webkit-keyframes colorText {
    0% {
        color: #736f6f;
    }

    100% {
        color: #860d0d;
    }
}

@-o-keyframes colorText {
    0% {
        color: #736f6f;
    }

    100% {
        color: #860d0d;
    }
}

@keyframes colorText {
    0% {
        color: #736f6f;
    }

    100% {
        color: #860d0d;
    }
}

/* ========== HERO ========== */

.hero {
    background: #000000 url("../img/index.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.preview {
    font-size: 0;
}

.symbol {
    display: inline-block;
    font-size: 3rem;
    color: #736f6f;
    font-family: 'Exo 2', sans-serif;
    line-height: 2;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
    cursor: crosshair;
}

.symbol:hover {
    color: #860d0d;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-o-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

/* ========== PREVIEW ========== */
.hero--about {
    background: #000000 url("../img/about.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}

.preview--about {
    max-width: 30rem;
}

.about-text,
.about-title,
.skills {
    color: #736f6f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.about-title {
    font-weight: 700;
}

/* ========== PREVIEW ========== */

.hero--projects {
    background: #000;
}

.preview--projects {
    width: 100%;
}

.slider {
    position: relative;
}

.slider__item {
    border-radius: 1rem;
    max-width: 80%;
    height: 30rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    transition: background-position 5s linear;
}
.el {
    background: url("../img/2.jpg");
    background-position: top;
    background-size: cover;
}

.ee {
    background: url("../img/3.jpg");
    background-position: top;
    background-size: cover;
}

.slider__item:hover {
    background-position: bottom;
}
.text-top,
.text-bottom {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: rgba(115, 111, 111, 0.5);
    height: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    visibility: hidden;
    transition: all 0.3s linear;
}
.text-top {
    top: 0;
}
.text-bottom {
    bottom: 0;
}
.slider__item:hover .text-top,
.slider__item:hover .text-bottom {
    height: 50%;
    visibility: visible;
}
.slider__svg {
    width: 2rem;
    height: 2rem;
    fill: #000;
    margin-right: 1rem;
}
.slider__img {
    width: 100%;
    height: auto;
}

.next,
.prev {
    width: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.prev__svg,
.next__svg {
    fill: #736f6f;
    transition: 0.3s linear;
}
.prev__svg:hover,
.next__svg:hover {
    fill: #860d0d;
}
/* ========== NAVIGATION ========== */
.nav {
    display: flex;
    justify-content: center;
}

/* ========== BURGER ========== */

.burger {
    display: none;
    z-index: 200;
    cursor: pointer;
}

.burger__line {
    display: block;
    background: #736f6f;
    height: 0.125rem;
    margin-top: 0.325rem;
    width: 1.875rem;
    transition: transform 0.3s 0.1s linear, background-color 0.3s 0.1s linear, opacity 0.3s linear;
}

.active .burger__line:nth-child(1) {
    transform: rotate(45deg) translateX(0.325rem) translateY(0.325rem);
    background: #860d0d;
}

.active .burger__line:nth-child(2) {
    opacity: 0;
}

.active .burger__line:nth-child(3) {
    transform: rotate(-45deg) translateX(0.325rem) translateY(-0.325rem);
    background: #860d0d;
}

/* ========== MENU ========== */
.menu {
    display: flex;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #736f6f;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0.3125rem;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: all ease-in 0.3s;
    padding: 0.625rem;
    position: relative;
}

.menu__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '';
    background: #860d0d;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: all ease-in 0.3s;
    height: 0.125rem;
}

.menu__link:hover:after {
    width: 100%;
}

.menu__link:hover {
    color: #860d0d;
}

.open.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    text-align: center;
    z-index: 100;
}

.open .menu__link:hover:after {
    width: 50%;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

/* ========== SOCIAL ========== */

.social {
    display: flex;
    flex-direction: column;
}

.social__link {
    text-decoration: none;
    margin: 0.1875rem 0;
}

.social__svg {
    width: 2rem;
    height: 2rem;
    fill: #736f6f;
    -webkit-transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -ms-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
    transition: ease-in 0.3s;
}

.social__svg:hover {
    fill: #860d0d;
}