/* lg-размер (<=1199px) */
@media (max-width: 1199px) {}

/* md-размер (<=991px) */
@media (max-width: 991px) {}

/* sm-размер (<=768px) */
@media (max-width: 767px) {}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  .preview {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .symbol {
    font-size: 1.5rem;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }
}