// ==================== >>> FONTS <<< ==================== //

$font-family: 'Roboto', 'Arial', 'Tahoma', 'Times New Roman', sans-serif;
$font-size: 1.125rem;
$line-height: 2rem;
$font-weight: 300;
$letter-spacing: 0.034rem;

// ==================== >>> COLORS <<< ==================== //

$bg-color-gray: #f9f9f9;
$white: #fff;
$dark-gray: #5a5a5a;
$light-gray: #d4d4d4;
$green: #2ecc71;
$red: #ff0000;

// ==================== >>> SIZES <<< ==================== //

$max-width: 1200px;

// ==================== >>> MEDIA-QUERIES <<< ==================== //

$desktops: 1199.98px;
$tablets: 991.98px;
$landscape-phones: 767.98px;
$phones: 479.98px;